.water-drop-icon {
    position: absolute;
    top: 2px;
    left: 238.11px;
    width: 147.8px;
    height: 159px;
    object-fit: cover;
    display: none;
}
.blue-modern-water-company-logo {
    position: absolute;
    top: 0px;
    left: 160px;
    width: 318px;
    height: 105px;
    object-fit: cover;
}
.loading-icon {
    position: absolute;
    top: 105px;
    left: 298px;
    width: 42px;
    height: 18px;
    display: none;
}
.group-child {
    position: absolute;
    bottom: 16px;
    left: 0px;
    width: 599px;
    height: 251px;
    opacity: 0.4;
}
.group-item {
    position: absolute;
    bottom: 0px;
    left: 114.73px;
    width: 525.5px;
    height: 267px;
    object-fit: contain;
    opacity: 0.4;
}
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background-color: #fff;
    width: 318px;
    height: 60px;
}
.next {
    position: absolute;
    top: 19px;
    left: 141px;
    text-transform: uppercase;
}
.btnnext {
    position: absolute;
    top: 407px;
    left: 160px;
    width: 318px;
    height: 60px;
    cursor: pointer;
}
.water-drop-parent {
    position: absolute;
    top: 315px;
    left: -131px;
    width: 640.2px;
    height: 608px;
}
.page {
    width: 100%;
    position: relative;
    background-color: var(--color-deepskyblue);
    height: 812px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: var(--color-deepskyblue);
    font-family: var(--font-poppins);
}

