
/*green indicator*/
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* Fonts */
    --medium: Poppins;
    --font-roboto: Roboto;
    
    /* font sizes */
    --medium1-size: 12px;
    --medium-size: 14px;
    --semibold-size: 20px;
    
    /* Colors */
    --color-darkslategray: #384144;
    --color-deepskyblue: #26a3ea;
    --color-lightskyblue: #5dccfc;
    --color-skyblue: #8edcfc;
    
    /* Border radiuses */
    --br-5xs: 8px;
    --br-base: 16px;
    
    /* Figma Variables */
    
    /* Color Variables */
    --light-gray-0: #fff;
    --light-gray-11: #000;
    --neutral-1: #141a1e;
    --neutral-4: #90a5b4;
    
    /* Number Variables */
    --depth-0: 0px;
    
}

/*red indicator*/

body{
  	margin: 0;
  	line-height: normal;
}


:root {
  	
  	/* Fonts */
  	--medium: Poppins;
  	--font-roboto: Roboto;
  	
  	/* font sizes */
  	--medium1-size: 12px;
  	--medium-size: 14px;
  	--semibold-size: 20px;
  	
  	/* Colors */
  	--color-darkslategray: #384144;
  	--color-deepskyblue: #26a3ea;
  	--color-lightskyblue: #5dccfc;
  	--color-skyblue: #8edcfc;
  	
  	/* Border radiuses */
  	--br-5xs: 8px;
  	--br-base: 16px;
  	
  	/* Figma Variables */
  	
  	/* Color Variables */
  	--light-gray-0: #fff;
  	--light-gray-11: #000;
  	--neutral-1: #141a1e;
  	--neutral-4: #90a5b4;
  	
  	/* Number Variables */
  	--depth-0: 0px;
  	
}