.border {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2.67px;
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    width: 22px;
    height: 11.3px;
    opacity: 0.35;
    mix-blend-mode: normal;
}
.cap-icon {
    position: absolute;
    top: 3.67px;
    left: 23px;
    width: 1.3px;
    height: 4px;
    opacity: 0.4;
    mix-blend-mode: normal;
}
.capacity {
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 1.33px;
    background-color: var(--color-darkslategray-100);
    width: 18px;
    height: 7.3px;
}
.battery {
    position: absolute;
    top: 17.33px;
    left: 336.33px;
    width: 24.3px;
    height: 11.3px;
}
.wifi-icon {
    position: relative;
    width: 15.3px;
    height: 11px;
}
.cellular-connection-icon {
    position: relative;
    width: 17px;
    height: 10.7px;
}
.time {
    position: absolute;
    top: 13px;
    left: 21px;
    letter-spacing: -0.24px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    width: 54px;
}
.statusbar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.header {
    position: absolute;
    height: 5.13%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 94.87%;
    left: 0%;
}
.group-icon {
    position: absolute;
    height: 2.13%;
    width: 5.33%;
    top: 8.51%;
    right: 84.53%;
    bottom: 89.36%;
    left: 10.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}
.menu-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--light-gray-0);
}
.home-1-icon {
    position: absolute;
    height: 55.81%;
    width: 67.94%;
    top: 0%;
    right: 14.98%;
    bottom: 44.19%;
    left: 17.08%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.home1 {
    position: absolute;
    top: 62.79%;
    left: 0%;
    letter-spacing: 0.4px;
    line-height: var(--heading-h4-regular-size);
    font-weight: 500;
}
.home {
    position: absolute;
    height: 100%;
    width: 11.76%;
    top: 0%;
    right: 88.24%;
    bottom: 0%;
    left: 0%;
}
.setting-icon {
    position: absolute;
    height: 55.81%;
    width: 58.54%;
    top: 0%;
    right: 19.51%;
    bottom: 44.19%;
    left: 21.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.setting1 {
    position: absolute;
    top: 62.79%;
    left: 0%;
    letter-spacing: 0.4px;
    line-height: var(--heading-h4-regular-size);
}
.setting {
    position: absolute;
    height: 100%;
    width: 14.19%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 85.81%;
    cursor: pointer;
    color: var(--light-gray-11);
}
.home-parent {
    position: absolute;
    height: 56.58%;
    width: 77.07%;
    top: 19.74%;
    right: 10.4%;
    bottom: 23.68%;
    left: 12.53%;
}
.menu {
    position: absolute;
    height: 43.43%;
    width: 100%;
    top: 30.86%;
    right: 0%;
    bottom: 25.71%;
    left: 0%;
}
.home2 {
    position: absolute;
    height: 100%;
    width: 11.76%;
    top: 0%;
    right: 88.24%;
    bottom: 0%;
    left: 0%;
    cursor: pointer;
}
.setting2 {
    position: absolute;
    height: 100%;
    width: 14.19%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 85.81%;
    cursor: pointer;
}
.menu1 {
    position: absolute;
    height: 43.43%;
    width: 100%;
    top: 30.86%;
    right: 0%;
    bottom: 25.71%;
    left: 0%;
    color: var(--light-gray-11);
}
.blue-modern-water-company-logo {
    position: absolute;
    width: 46.67%;
    top: 0px;
    right: 26.67%;
    left: 26.67%;
    max-width: 100%;
    overflow: hidden;
    height: 175px;
    object-fit: cover;
}
.menu-bar {
    position: absolute;
    height: 20.4%;
    width: 100%;
    top: 79.6%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    font-size: var(--font-size-xs);
    color: #26a3ea;
    font-family: var(--font-roboto);
}
.i-already-have {
    position: absolute;
    top: 73.31%;
    left: 18.93%;
    font-size: var(--body-text-regular-size);
    color: var(--foundation-grey-grey-500);
}
.log-in {
    position: absolute;
    top: 73.31%;
    left: 69.6%;
    font-size: var(--body-text-regular-size);
    text-decoration: underline;
    font-weight: 600;
    color: #0f80fd;
}
.next {
    position: relative;
}
.sign-up {
    position: absolute;
    height: 5.83%;
    width: 86.67%;
    top: 63.99%;
    right: 6.67%;
    bottom: 30.19%;
    left: 6.67%;
    box-shadow: 4px 8px 20px rgba(93, 204, 252, 0.42);
    border-radius: var(--br-8xs);
    background-color: #62cdfa;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-smi) 83px;
    box-sizing: border-box;
    font-size: var(--heading-h4-regular-size);
    color: var(--light-gray-0);
}
.user-outline-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.full-name {
    width: 325px;
    border-radius: var(--br-8xs);
    background-color: var(--color-whitesmoke);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-smi) var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-3xs);
}
.nigeria-1-icon {
    position: absolute;
    top: calc(50% - 12px);
    left: 20px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.div {
    position: absolute;
    top: calc(50% - 10px);
    left: 54px;
    font-weight: 600;
}
.enter-number {
    position: absolute;
    top: calc(50% - 8px);
    left: 100px;
    font-size: var(--font-size-xs);
}
.phone-number {
    width: 325px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-whitesmoke);
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--body-text-regular-size);
    color: var(--foundation-grey-grey-200);
}
.password1 {
    position: absolute;
    top: 17px;
    left: 54px;
}
.eye-icon {
    position: absolute;
    top: 13px;
    right: 20px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.lock-icon {
    position: absolute;
    top: calc(50% - 12px);
    right: 281px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.password {
    width: 325px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-whitesmoke);
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--foundation-grey-grey-200);
}
.forms {
    position: absolute;
    height: 30.3%;
    width: 86.67%;
    top: 30.19%;
    right: 6.67%;
    bottom: 39.51%;
    left: 6.67%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--foundation-grey-grey-300);
}
.securely-login-to {
    position: relative;
    font-size: var(--body-text-regular-size);
    color: var(--foundation-grey-grey-300);
}
.login-details {
    position: absolute;
    height: 6.88%;
    width: 56.8%;
    top: 18.76%;
    right: 33.87%;
    bottom: 74.36%;
    left: 9.33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    text-align: left;
    font-size: 22px;
    color: var(--foundation-grey-grey-800);
}
.component-5 {
    width: 100%;
    position: relative;
    height: 858px;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-darkslategray-100);
    font-family: var(--body-text-regular);
}

